.post-container {
    margin-bottom: 20px;
}

.post-container img {
    max-width: 100%;
}

.blog-img-responsive{
    width:  400px;
    height: 200px;
    object-fit: cover;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Set the text color to white or your preferred color */
}
