html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 { /* Apply Lato Bold 700 to all header elements */
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

body { /* Apply Poppins 400 Regular to all other text */
    background: white;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.opacity-img {
    opacity: 0.5;
}

/* -------------------------------- Cycle Odd and Even class bg color */
.even {
  background-color: #f2f2f2; 
}

.odd {
  background-color: #ffffff;
}

/* -------------------------------- from Bulma */

.icon { /* will make all icons display perfectly */
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
  Background: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

.card-category{
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.header-bg {
  background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
  width: 100%;
}

.container-newsletter{
  border: 2px solid black;
}

.section-margin-bottom {
  margin-bottom: 150px;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  background-color: white;
  bottom: 10px;
  right: 10px;
}

.btt-link {
  cursor: pointer;
}

.main-content-container {
  min-height: 60vh;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* -------------------------------- Subscribe */

@media only screen and (max-width: 1199px) {
 .subscription-form input.form-control,
 .subscription-form button {
     width: 100%;
     margin-bottom: 10px;
 }
}

/* -------------------------------- Footer */

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#000000;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}
  
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}
  
.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}
  
.footer-dark ul a:hover {
opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
opacity:0.6;
margin-bottom:0;
}

.footer-dark .item.social > a {
font-size:20px;
width:36px;
height:36px;
line-height:36px;
display:inline-block;
text-align:center;
box-shadow:0 0 0 1px rgba(255,255,255,0.4);
margin:0 8px;
margin-bottom: 8px;
color:#fff;
opacity:0.75;
}

.footer-dark .item.social > a:hover {
opacity:0.9;
}

.footer-dark .copyright {
text-align:center;
padding-top:24px;
opacity:0.3;
font-size:13px;
margin-bottom:0;
}

/* pad the top a bit when navbar is collapsed on mobile */
/* This is often used to ensure that the page content fits 
within the viewport, and the top padding (116px) 
is subtracted from the available height */
@media (max-width: 991px){
  .header-container {
      padding-top: 116px;
  }

  body {
      height: calc(100vh - 116px);
  }

  .smaller-text{
      font-size: 14px;
  }
}

/* -------------------------------- Media Queries */


@media (min-width: 1200px) { /* Slightly larger container on xl screens */
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) { /* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}