{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Error 405 {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Error handler 405 page -->
    <section>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Error</h2>
                    <h5 class="text-muted">405 Message</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1>"Method Not Allowed"</h1>
                    <h3>Whoopsie-doodle! This page is practicing social distancing and can't be bothered right now. Let's reroute you to a page that's more sociable.</h3>
                    <div>
                        <a class="btn btn-primary px-3 py-1 rounded-3 mt-4" href="{% url 'index' %}">Go home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}