<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="keyboards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keyboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="keyboards-link">
                <a href="" class="dropdown-item">100% Layout</a>
                <a href="" class="dropdown-item">75% Layout</a>
                <a href="" class="dropdown-item">65% Layout</a>
                <a href="" class="dropdown-item">60% Layout</a>
                <a href="" class="dropdown-item">40% Layout</a>
                <a href="" class="dropdown-item">All Keyboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="keycaps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keycaps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="keycaps-link">
                <a href="" class="dropdown-item">ABS caps</a>
                <a href="" class="dropdown-item">PBT caps</a>
                <a href="" class="dropdown-item">Rubber caps</a>
                <a href="" class="dropdown-item">Custom made</a>
                <a href="" class="dropdown-item">All Keycaps</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Switches</a>
                <a href="" class="dropdown-item">Cables</a>
                <a href="" class="dropdown-item">Tools</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="articles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="support-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support
            </a>
        </li>
    </ul>
</div>