{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %} - Articles {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div> <!-- Making overlay over the background image to white background instead -->
<div class="container main-content-container h-100">
    <div class="row">
        <div class="col-12 w-100">
            <img src="{{ MEDIA_URL }}blog-header.png" alt="blog header" class="img-fluid">
            <div class="text-overlay">
                <h2>Articles</h2>
            </div>
        </div>
    </div>
        <div class="container main-content-container h-100 mt-5">
            <div class="row mb-5">
                <div class="col-12 d-flex justify-content-end">
                    <a href="{% url 'blog' %}?sort=created_on&direction=desc" class="mr-2">Newest</a>
                    <a href="{% url 'blog' %}?sort=created_on&direction=asc">Oldest</a>
                </div>
            </div>

            {% for post in posts %}
            
                <div class="post-container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid blog-img-responsive">
                        </div>
                        <div class="col-md-6">
                            <h3>{{ post.title }}</h3>
                            <p class="text-muted">Published {{ post.created_on|date:"F j Y"}}</p>
                            <p>{{ post.excerpt }}</p>
                            <!-- Add more details as needed -->
                        </div>
                    </div>
                    <hr>
                </div>
            {% empty %}
                <div class="container text-center mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <p>You haven't created any posts yet.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        {% if posts.has_other_pages %}<!-- Pagination styling and calculation -->
            <div class="row pagination-container">
                <div class="col-12 d-flex justify-content-center">
                    {% include "blog/includes/pagination.html" %}
                </div>
            </div>
        {% endif %}
</div>
</div>


<div class="btt-button shadow-sm rounded-0 border border-black"> <!-- Scroll back up button -->
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>    
</div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
        <!-- Scroll to top-->
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
{% endblock %}
