{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Partners {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main-content-container h-100">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Partners</h2>
                <h5 class="text-muted">Collaberation partners with EKM</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                WANNA COLLAB?
            </div>
        </div>
    </div>
{% endblock %}
