{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Shipping policy {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Shipping policy</h2>
                <h5 class="text-muted">EU & World Wide Shipments</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h6>Europe Shipments</h6>
<p>We ship to all countries in the European Union. All orders are shipped via standard shipping and typically take 5-7 business days to arrive. We also offer expedited shipping options at an additional cost, which can take 2-3 business days to arrive.</p>


<p>Orders placed before 2pm GMT will be shipped out the same day, and orders placed after 2pm GMT will be shipped out the next business day.</p>


<p>Please note that we are not responsible for any customs or import duties that may be charged on orders shipped outside of the UK. The recipient is responsible for paying any additional charges for customs clearance.
    Thank you for shopping with us!</p>
            </div>
        </div>
    </div>
{% endblock %}
